[submodule "codeigniter"]
	path = codeigniter
	url = git://github.com/EllisLab/CodeIgniter.git
[submodule "assets/lib/bootbox"]
	path = assets/lib/bootbox
	url = git://github.com/makeusabrew/bootbox.git
[submodule "assets/lib/icanhaz"]
	path = assets/lib/icanhaz
	url = git://github.com/andyet/ICanHaz.js
[submodule "assets/lib/bootstrap"]
	path = assets/lib/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "assets/lib/font-awesome"]
	path = assets/lib/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
