@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:600);

body {
    font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin Condensed', sans-serif;
    text-transform: lowercase;
}

.popover h3 {
    text-transform: none;
    font-weight: 600;
    font-size: 1rem;
}

.container > section, .container > header, .container > footer {
    padding-top: 60px;
    margin-top: -60px;
}

.navbar a.brand {
    color: #f0f0f0;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

.navbar i.icon-github {
    font-size: 1.1rem;
}

.navbar #user img {
    height: 1.8em;
}

#top {
    margin-top: 80px;
}

#banner{
    height: 149px;
    width: 149px;
    overflow:hidden;
    padding: 0;
    float: right;
    position: relative;
    top: -60px;
    left: 60px;
}

#banner a{

    display: block;
    width: 190px;
    font-size: 14px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
        "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
        Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
    background-color: #333;
    color: #FFF;
    word-spacing: 2px;
    text-decoration: none;
    padding: 5px 15px 5px 25px;

    position:relative;
    left: 20px;
    top: -37px;
    text-align: center;

    -moz-transform-origin: 0 0 ;
    -moz-transform:rotate(45deg);
    -moz-box-shadow:    1px 1px 5px 1px #666;

    -webkit-transform-origin: 0 0 ;
    -webkit-transform:rotate(45deg);
    -webkit-box-shadow: 1px 1px 5px 1px #666;

    -ms-transform-origin: 0 0 ;
    -ms-transform:rotate(45deg);
    -ms-box-shadow: 1px 1px 5px 1px #666;

    transform-origin: 0 0 ;
    transform:rotate(45deg);
    box-shadow: 1px 1px 5px 1px #666;

    background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.03, #000000),
        color-stop(0.05, #666666),
        color-stop(0.07, #000000),
        color-stop(0.93, #000000),
        color-stop(0.95, #666666),
        color-stop(0.97, #000000)
    );

}

#my_repos .nav-tabs img {
    height: 1.6em;
}

#my_repos .tab-content {
    overflow: visible;
}

#my_repos [data-action="deactivate"] {
    color: inherit;
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
}

#call_to_action {
    margin-top: 20px;
    text-align: center;
}

#call_to_action a.btn {
    margin-left: auto;
    margin-right: auto;
}

#snarkatron {
    text-align: center;
}
